<ion-header translucent>
  <ion-toolbar>
    <ion-title>群聊天室</ion-title>
    <!-- <ion-buttons>
      <ion-button (click)="createRoom()">创建聊天室</ion-button>
    </ion-buttons> -->
    <!-- <ion-buttons slot="end">
      <ion-button (click)="joinRoom()">加入聊天室</ion-button>
    </ion-buttons> -->

    <ion-buttons slot="end">
      <ion-button (click)="add()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list id="list">
    <ion-item *ngFor="let room of roomList let i = index" (click)="openRoom(room)">
      <ion-avatar slot="start">
        <img [src]="room.photoURL">
      </ion-avatar>
      <ion-label>
        <h2>{{room.name}}</h2>
        <p>Created By ...</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-infinite-scroll threshold="100px" id="infinite-scroll">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>