<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>createroom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="errorFlag">
    <p>{{errorMessage}}</p>
  </div>

  <div>
    <ion-input type="text" [(ngModel)]="id"></ion-input>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
    <ion-button (click)="create()">create</ion-button>
    <ion-button (click)="back()">back</ion-button>
  </div>
</ion-content>