<ion-header>
  <ion-toolbar>
    <ion-title>
      login works!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="errorFlag">
    <p>{{errorMessage}}</p>
  </div>

  <div>
    <ion-list>
      <ion-item>
        <ion-label>email: </ion-label>
        <ion-input type="text" [(ngModel)]="user"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>password: </ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
  </div>
  <ion-button style="width: 40%;margin-left: 30%;margin-right: 30%;" (click)="login()">login</ion-button>

  <div>
    <p>第三方登陆</p>
    <ion-button (click)="logginwithfirebaseui()">登录</ion-button>
  </div>
  <div>
    <p>google登录</p>
    <ion-button (click)="logginwithgoogle1()">google登录</ion-button>
  </div>

  <div>
    <p>没有账号？ 去注册</p>
    <ion-button (click)="goToRegister()">注册账号</ion-button>
  </div>
</ion-content>