<ion-header>
  <ion-toolbar>
    <ion-title>
      用户信息
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exit()">
        <ion-icon name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <img [src]="photoURL" />
    <ion-card-header>
      <ion-card-subtitle>基本信息</ion-card-subtitle>
      <ion-card-title>昵称： {{displayName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      电子邮箱： {{email}}
    </ion-card-content>
  </ion-card>
</ion-content>