<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let item of messageList let i = index" lines="none">
      <ion-avatar *ngIf="currentUsr != item.userId" slot="start">
        <img [src]="friendphoto">
      </ion-avatar>
      <ion-avatar *ngIf="currentUsr == item.userId" slot="end">
        <img [src]="currentUsrphoto">
      </ion-avatar>
      <div *ngIf="currentUsr != item.userId && item.type == -1" style="float: left;max-width: 80%;margin-right: auto">
        <p>{{item.message}}</p>
      </div>
      <div *ngIf="currentUsr == item.userId && item.type == -1" style="float: right;max-width: 80%;margin-left: auto">
        <p>{{item.message}}</p>
      </div>
      <div *ngIf="currentUsr != item.userId && item.type == -2" style="float: left;max-width: 80%;margin-right: auto">
        <img [src]="item.imageURL">
      </div>
      <div *ngIf="currentUsr == item.userId && item.type == -2" style="float: right;max-width: 80%;margin-left: auto">
        <img [src]="item.imageURL">
      </div>
    </ion-item>
  </ion-list>

  <!-- <ion-infinite-scroll threshold="100px" id="infinite-scroll">
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll> -->
</ion-content>

<ion-footer>
  <div>
    <ion-item>
      <ion-button (click)="othermeaage()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-textarea autoGrow="true" rows="1" [(ngModel)]="message"></ion-textarea>
      <ion-button slot="end" (click)="send()">send</ion-button>
    </ion-item>
  </div>
  <div *ngIf="messageType">
    <div>
      <ion-item>
        <ion-input type="file" (change)="filechange($event)"></ion-input>
        <ion-button [disabled]="!localurl" slot="end" (click)="sendimage()">sendimage</ion-button>
      </ion-item>
    </div>
    <div *ngIf="localurl">
      <img [src]="localurl">
    </div>
  </div>
</ion-footer>