<ion-header translucent>
    <ion-toolbar>
      <ion-title>Roomlist</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>
    <ion-list>
      <ion-item *ngFor="let room of roomList let i = index">
        <ion-avatar slot="start">
          <img [src]="'https://www.gravatar.com/avatar/' + i + '?d=monsterid&f=y'">
        </ion-avatar>
        <ion-label>
          <h2>{{room.name}}</h2>
          <p>Created By ...</p>
        </ion-label>
        <ion-label (click)="joinRoom(room.id, room.name)">
            <h2>加入该聊天室</h2>
          </ion-label>
      </ion-item>
    </ion-list>
  
    <!-- <ion-infinite-scroll threshold="100px" id="infinite-scroll">
      <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
  </ion-content>