<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Roomlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let room of roomList let i = index">
      <ion-avatar slot="start">
        <img [src]="room.photoURL">
      </ion-avatar>
      <ion-label>
        <h2>{{room.name}}</h2>
        <p>Created By ...</p>
      </ion-label>
      <ion-button slot="end" (click)="joinRoom(room)">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- <ion-infinite-scroll threshold="100px" id="infinite-scroll">
      <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
</ion-content>